body {
  font-family: mundial, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2em;
  display: flex;
}

nav {
  background: rgb(0, 0, 0);
  width: 1400px;
  height: 50px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  border-bottom: 2px black;
}

.App {
  width: 100%;
  display: flex;
}

.link {
  font-family: mundial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  padding: 1em;
  text-decoration: none;
  margin-bottom: 2em;
  color: rgb(115, 34, 191);
}



#char-box{
  
 border-style: groove;
 border:solid 5px;
 
 border-color: black;
 position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#char-name{
  position: fixed;
  width: 200px;
    top: 30%;
   left: 35%;
    transform: translate(-50%, -50%);
}
#char-class{
  position: fixed;
  width: 200px;
    top: 30%;
   left: 50%;
    transform: translate(50%, -50%);
}

